.a{
    background-color: lightsteelblue;
font-family: Verdana, Geneva, Tahoma, sans-serif;
border-style: double;
height: 60px;
text-align: center;
}

.h4{
    text-align: center;

}
.h5{
    text-align: center;
}

.f{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bo{
  background-color:#FFFAFA;
}
.yh{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}